::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    height: 1.5vh;
    width: 1.5vh;
    background-color: rgb(209, 179, 81);
}

::-webkit-scrollbar-thumb:hover {
    height: 1.5vh;
    width: 1.5vh;
    background-color: rgb(196, 168, 77);
}

body {
    background-color: rgb(240, 240, 240);
}

#barra {
    background-color: black;
    /* background-color: rgb(56, 207, 149); */
    padding: 10px;
}

form {
    margin-top: 20px;
}

input[type="search"] {
    background-color: rgba(255, 255, 255, 0.8);
}

#muestras {
    background-color: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.muestra {
    width: 200px;
    height: auto;
    margin: 20px;
}

.producto {
    width: 200px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 30px;
}

.producto img {
    width: 200px;
}

.detalle_prod {
    padding: 10px;
    border-top: solid 1px rgb(167, 167, 167);
}

.prec_prod {
    color: rgb(102, 226, 80);
}

footer {
    height: 300px;
    width: auto;
    background-color: rgb(34, 34, 34);
    color: rgb(167, 167, 167);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    text-align: left;
}
